# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
chair 1.png
Ellipse 2(1).png
Ellipse 2.png
Flat.png
Frame.png
Group (1).png
Group 2.png
Group 17.png
Group.png
Rectangle 1.png
Rectangle 15.png
Rectangle 16.png
register.png
services.png
teeth.png

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
